/* CSS3 */

/* from https://fonts.googleapis.com/css?family=Orbitron */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/orbitron/v15/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyGy6BoWgz.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* from https://fonts.googleapis.com/css?family=Architects+Daughter */
@font-face {
  font-family: 'Architects Daughter';
  font-style: normal;
  font-weight: 400;
  src: local('Architects Daughter Regular'), local('ArchitectsDaughter-Regular'), url(https://fonts.gstatic.com/s/architectsdaughter/v10/KtkxAKiDZI_td1Lkx62xHZHDtgO_Y-bvTYlg4w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* from https://fonts.googleapis.com/css?family=Droid+Serif */
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif Regular'), local('DroidSerif-Regular'), url(https://fonts.gstatic.com/s/droidserif/v12/tDbI2oqRg1oM3QBjjcaDkOr9rAU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



html {
    background: #ecece6;
}


header, footer, article {
  /* se navegador não suportar header, trata header como block */
  display:block;
}

.sub-header {
  font-size:14px;
  font-style:italic;
}


body {

  background: #FFFFE9; 
  color: #242424;
  font-size:16px;
  font-family: 'Droid Serif', arial, serif;

  /* borda */
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: .3em;
    border-radius: 15px;
    -moz-border-radius: 15px;
    border-color: #000;
    height: 100%;
    padding: 1em;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 8%;
    margin-right: 8%;
}

h2 {
  font-size: 20px;
  font-family: 'Architects Daughter', arial, serif;
}

a:visited {
    color: #4000FF;
}

footer {
  font-size: 11px;
  font-style:italic;  
}

h1 {
  font-family: 'Orbitron';
  font-size: 30px;
  font-weight: lighter;
}

.estrangeiro {
  font-style:italic;
}

.foto {
  float:right;
}

.flag {
  border:0;
}

.flags{
  float:right;
}
